:root {
    --color-darkblue: #003964;
    --color-medblue: #074980;
    --color-liteblue: #3f9ce0;
    --color-green: #39b173;
    --color-orange: #f88824;
    --color-pink: #f85c62;
    --color-yellow: #f7b129;
    --color-white: #eff3f7;
    --color-dark: #222222;
    --color-purple: #a77bca;
    --width-L: 992px;
    --width-M: 768px;
    --width-S: 375px;
    --search-L: 50px;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto Slab', serif;
}

/* Fonts */
h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.25rem;
    text-transform: uppercase;
}

h3, button {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    text-transform: uppercase;
}

li {
    font-size: 1.75rem;
    text-transform: uppercase;
}

p, span {
    font-family: 'Roboto', sans-serif;
}

/* Buttons */
/* Schedule - Shop - Add to Cart - Send Message */

.body {
    max-width: var(--width-L);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Top Bar */
.top-bar-sec {
    display: flex;
    justify-content: center;
    background-color: var(--color-darkblue);

}

.top-bar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    height: 2rem;
    width: var(--width-L);
}

/* Banner */

.banner-sec {
    display: flex;
    justify-content: center;
    background-color: var(--color-medblue);
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--width-L);
    height: 100px;
}

.logo-cont {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.search-box {
    border: none;
    height: 30px;
    width: 70%;
}

.search-btn {
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: #f88824;
    color: white;
    height: var(--search-L);
    width: var(--search-L);
    margin-left: -10px;
}

nav {
    display: flex;
    justify-content: center;
    width: var(--width-L);
}

.nav {
    display: flex;
    justify-content: center;
    background-color: var(--color-yellow);
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--color-white);
}
/* Nav Options */ 
.li-dog {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-pink);
    width: 200px;
    height: 80px;
    border-radius: 0px 0px 0px 15px;
}

.li-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-purple);
    width: 200px;
    height: 80px;
}

.li-bird {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-orange);
    width: 200px;
    height: 80px;
}

.li-fish {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-liteblue);
    width: 200px;
    height: 80px;
}

.li-rep {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-green);
    width: 200px;
    height: 80px;
    border-radius: 0px 0px 15px 0px;
}

.menu-btn {
    display: none;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-yellow);
    padding-left: 4rem;
    padding-top: 4rem;
    height: 600px;
}

.hero-img-cont {
    display: flex;
    justify-content: center;
    width: var(--width-L);
    overflow: hidden;
    /* position: relative; */
}

.hero-img {
    width: 1200px;
    object-fit: cover;
}

#hero-img-position {
    object-position: 10px -200px;
}

.hero-text {
    display: grid;
    width: var(--width-L);
    grid-template-columns: 498px;
    position: absolute;
    color: var(--color-darkblue);
}

.hero-text > h1 {
    margin-top: 25px;
    line-height: 1;
}

.hero-text > p {
    margin-top: 25px;
    line-height: 1.8;
}

.schedule-btn {
    background: #074980;
    color: white;
    border: none;
    border-radius: 7.5px;
    width: 10rem;
    height: 45px;
    margin-top: 25px;
}

/* Shop Section */

.shop {
    color:var(--color-white);
    background-color: white;
}

.card-cont {
    display: grid;
    grid-template-columns: 280px 25px 280px 25px 280px;
    grid-template-rows: 350.2px 25px 350.2px;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.card-content {
    padding: 12.8rem 0 0 1rem;
}

.card-content > p{
    margin-bottom: 25px;
}

.shop-btn {
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.575);
}

.dog-img {
    grid-column: 1/3;
    grid-row: 1;
    background-image: url(./assets/card-photos/dogs-card-wide.jpg);
    background-repeat: no-repeat;
    background-size: 585px;
    width: 585px;
    object-fit: cover;
    object-position: right;
}

.cat-img {
    grid-column: 5;
    grid-row: 1;
    background-image: url(./assets/card-photos/cats-card.jpg);
    background-repeat: no-repeat;
    background-size: 280px;
}

.bird-img {
    grid-column: 1;
    grid-row: 3;
    background-image: url(./assets/card-photos/birds-card.jpg);
    background-repeat: no-repeat;
    background-size: 280px;
}

.fish-img {
    grid-column: 3;
    grid-row: 3;
    background-image: url(./assets/card-photos/fish-card.jpg);
    background-repeat: no-repeat;
    background-size: 280px;
}

.reptile-img {
    grid-column: 5;
    grid-row: 3;
    background-image: url(./assets/card-photos/reptiles-card.jpg);
    background-repeat: no-repeat;
    background-size: 280px;
}

/* About Section */

.about {
    display: flex;
    background-color: var(--color-medblue);
    color: white;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.about-cont {
    display: grid;
    grid-template-columns: 50px 400px 471px;
    grid-template-rows: 450px;
    width :var(--width-L);
    overflow: hidden;
}

.about-text {
    grid-column: 3;
    grid-row: 1;
    margin-top: 100px;
}

.about-text > p {
    margin-top: 25px;
    line-height: 1.8;
}

.about-img-cont {
    grid-column: 1;
    grid-row: 1;
}

.about-img {
    width: 347px;
    margin-left: 25px;
}

/* Top Recommendations Section */
.top-rec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-dark);
}

.tr-head {
    margin-top: 75px;
    margin-bottom: 75px;
}

.tr-head > h2 {
    color: var(--color-darkblue);
    margin-bottom: 25px;
}


.tr-card-cont {
    display: grid;
    grid-template-columns: 240px 20px 240px 20px 240px 20px 240px;
    width: var(--width-L);
    margin-bottom: 75px;
}

.tr-head > h2 {
    color: var(--color-darkblue);
}

.tr-card > h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tr-card > p {
    margin-bottom: 40px;
}

.trc-1 {
    grid-column: 1;
}

.trc-2 {
    grid-column: 3;
}

.trc-3 {
    grid-column: 5;
}

.trc-4 {
    grid-column: 7;
}

.tr-img-1 {
    width: 240px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 85%;
}

.tr-img-2 {
    width: 240px;
    height: 250px;
    object-fit: cover;
    object-position: 60% 25%;
}

.tr-img-3 {
    width: 240px;
    height: 250px;
    object-fit: cover;
    object-position: 60% 45%;
}

.tr-img-4 {
    width: 240px;
    height: 250px;
    object-fit: cover;
    object-position: 50% 85%;
}

.cart-btn {
    background-color: var(--color-orange);
    border: none;
    border-radius: 5px;
    color: white;
    width: 240px;
    height: 45px;
    font-size: 1rem;
}

/* About Store Section */

.about-store {
    background-color: var(--color-pink);
    color: white;
    display: flex;
    justify-content: center;
}

.about-store-cont {
    background-color: var(--color-pink);
    width: var(--width-L);
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: 400px;
    align-items: center;
}

.about-store-content {
    grid-column: 1;
    grid-row: 1;
    /* margin-top: 25px; */
}

.about-store-content > p {
    line-height: 1.8;
    margin-top: 25px;
}

.about-store-img {
    grid-column: 3;
    width: 400px;
}

/* Testimony Section */

.testimony {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimony-title {
    display: flex;
    flex-direction: column;
    color:var(--color-darkblue);
    margin-top: 75px;
    margin-bottom: 75px;
    align-items: center;
}

.testimony-title > p {
    color:var(--color-dark);
    margin-top: 25px;
}

.testimony-card {
    display: grid;
    grid-template-columns: 60% 10% 30%;
    grid-template-rows: 100px 75px;
    border: 2px solid var(--color-orange);
    border-radius: 7.5px;
    padding: 50px 20px;
    width: 700px;
    background: white;
    margin-bottom: 75px;
}

.testimony-img {
    grid-column: 3;
    grid-row: 1/2;
    object-fit: cover;
    object-position: 50% 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

.testimony-text {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    line-height: 1.8;
    margin-left: 10px;
    margin-top: 10px;
}

.testimony-signature {
    grid-column: 1;
    grid-row: 2;
    margin-left: 10px;
    margin-top: 10px;
}

.purple {
    background-color: var(--color-purple);
    display: flex;
    justify-content: center;
    color: white;
}

.purple-cont {
    display: grid;
    width: var(--width-L);
    height: 620px;
    grid-template-columns: 40% 10% 50%;
    grid-template-rows: 50% 50%; 
    margin-top: 75px;
    /* margin-bottom: 75px; */
}

.corporate-address {
    grid-column: 1;
    grid-row: 1;
}

.corporate-address > h2 {
    margin-bottom: 40px;
}

.corporate-address > p {
    line-height: 1.8;
    font-size: 1.3rem;
}

.social {
    grid-column: 1;
    grid-row: 2;
}

.social > h2 {
    margin-bottom: 40px;
}

.social-icons > span {
    padding-right: 20px;
}

.contact {
    grid-column: 3;
    grid-row: 1/2;
}

form {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 50px;
}

form > p {
    margin-top: 15px;
}

input[type="text"] {
    border: none;
    border-radius: 3.5px;
    padding: 10px;
    margin: 10px 0px;
}

textarea {
    border: none;
    border-radius: 3.5px;
    padding: 10px;
    margin: 10px 0px;
    height: 100px;
}

.submit {
    border: none;
    border-radius: 3.5px;
    color: white;
    background-color:#f88824;
    padding: 10px;
    margin: 20px 0px;
}

footer {
    background-color: var(--color-darkblue);
    color: white;
    display: flex;
    justify-content: center;
    height: 32px;
}

.footer-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-left: -50px;
}