@media (min-width: 375px) {

    body {
        background-color: white;
        max-width: 768px;
    }

    .pet-cards {
        display: grid;
        grid-template-columns: 400px;
        /* grid-template-rows: 500px 500px; */
    }
    
    .card-size {
        width: 375px;
        height: 469px;
    }
    
    .dog-img {
        grid-column: 1;
        grid-row: 1;
        background-image: url(./assets/card-photos/dogs-card.jpg);
        background-repeat: no-repeat;
    }
    
    .cat-img {
        grid-column: 2;
        grid-row: 1;
        background-image: url(./assets/card-photos/cats-card.jpg);
        background-repeat: no-repeat;
    }
    
    .bird-img {
        grid-column: 1;
        grid-row: 2;
        background-image: url(./assets/card-photos/birds-card.jpg);
        background-repeat: no-repeat;
    }
    
    .fish-img {
        grid-column: 2;
        grid-row: 2;
        background-image: url(./assets/card-photos/fish-card.jpg);
        background-repeat: no-repeat;
    }
    
    .reptile-img {
        grid-column: 1/2;
        grid-row: 3;
        background-image: url(./assets/card-photos/reptiles-card.jpg);
        background-repeat: no-repeat;
    }

    .tr-card-section {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .trc-1 {
        grid-column: 1;
        grid-row: 1;
    }

    .trc-2 {
        grid-column: 2;
        grid-row: 1;
    }

    .trc-3 {
        grid-column: 1;
        grid-row: 2;
    }
    
    .trc-4 {
        grid-column: 2;
        grid-row: 2;
    }
}